.delivery {
    padding-bottom: adaptiveValue(70, 60, 767.98);

    &--white {
        background-color: #fff;
    }

    // .delivery__body

    &__body {
        display: flex;
        column-gap: toRem(30);

        @media (max-width: toRem(991.98)) {
            flex-wrap: wrap;
            row-gap: toRem(40);
        }

        &--center {
            align-items: center;
        }

        &:not(:last-child) {
            margin-bottom: toRem(70);
        }
    }

    // .delivery__content

    &__content {
        max-width: toRem(520);
    }

    // .delivery__title

    &__title {
        &:not(:last-child) {
            margin-bottom: toRem(40);
        }

        @media (max-width: toRem(767.98)) {
            text-align: center;
        }
    }

    // .delivery__list

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: toRem(30);

        &:not(:last-child) {
            margin-bottom: adaptiveValue(40, 30, 767.98);
        }
    }

    // .delivery__item

    &__item {
        display: flex;
        align-items: center;
        column-gap: toRem(20);
        font-size: toRem(20);
        font-weight: 600;
        line-height: 1.4;

        &::before {
            content:'';
            width: adaptiveValue(70, 50, 767.98);
            height: adaptiveValue(70, 50, 767.98);
            flex: 0 0 adaptiveValue(70, 50, 767.98);
            background: url('../images/delivery-page/delivery-check.svg') 0 0 no-repeat;
            background-size: cover;
        }
    }

    // .delivery__text

    &__text {
        font-size: toRem(20);
        font-weight: 600;
        line-height: 1.4;

        .delivery__content--margin-text &:not(:last-child) {
            margin-bottom: adaptiveValue(40, 30, 767.98);
        }

        .delivery__content--margin-text-small &:not(:last-child) {
            margin-bottom: toRem(10);
        }
    }

    // .delivery__image-wrapper

    &__image-wrapper {
        position: relative;
        align-self: flex-start;

        @media (max-width: toRem(1159.98)){
              img {
                max-width: 100%;
              }
        }

        @media (max-width: toRem(991.98)){
            margin: 0 auto;
        }
    }

    // .delivery__info

    &__info {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: adaptiveValue(420, 250, 579.98);
        aspect-ratio: 1 / 1;
        background-color: $yellow;
        text-align: center;
        border-radius: 50%;

        &--bottom-negative {
            bottom: -25.910931%; /* -128/494 */
        }

        @media (max-width: toRem(479.98)) {
              left: 50%;
              transform: translate(-50%, 0);
        }

        &::after {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: adaptiveValue(410, 245, 579.98);
            aspect-ratio: 1 / 1;
            border: toRem(3) solid $light;
            border-radius: 50%;
        }
    }
    
    // .delivery__info-wrapper
    
    &__info-wrapper {
        position: relative;
        max-width: adaptiveValue(340, 200, 579.98);
		max-height: adaptiveValue(210, 140, 579.98);
        color: #fff;
        font-weight: 600;
        z-index: 1;
        overflow: auto;
        -ms-overflow-style: none;  /* Edge */
		scrollbar-width: toRem(5);  /* Firefox */

        &::-webkit-scrollbar {
            width: toRem(6); /* Safari and Chrome */
            background-color: $light;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $greyLight; /* Safari and Chrome */
        }
    }

    // .delivery__info-description

    &__info-description {
        font-size: adaptiveValue(26, 16, 579.98);
        line-height: 1.31;

        &:not(:last-child) {
            margin-bottom: adaptiveValue(20, 10, 579.98);
        }
    }

    // .delivery__info-text

    &__info-text {
        font-size: adaptiveValue(20, 14, 767.98);
        line-height: 1.4;
    }

    // .delivery__disclaimer

    &__disclaimer {
        
        @media (max-width: toRem(992.98)) {
            padding-top: adaptiveValue(100, 70, 600.98, 992.98);

            @media (max-width: toRem(479.98)) {
                padding-top: toRem(30);
            }
        }

        > *:not(:last-child) {
            margin-bottom: toRem(5);
        }
    }
}