.delivery-service {

    @media (max-width: toRem(767.98)) {
        background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    }

    // .delivery-service__body

    &__body {
        display: flex;
        align-items: center;
        column-gap: toRem(100);
        background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);

        @media (max-width: toRem(767.98)) {
              background: none;
              flex-wrap: wrap;
              row-gap: toRem(10);
              text-align: center;
              justify-content: center;
              align-items: center;
        }
    }

    // .delivery-service__content

    &__content {
        max-width: toRem(500);
        padding: toRem(20) 0 toRem(20) toRem(50);

        @media (max-width: toRem(767.98)) {
              padding: toRem(40) 0 toRem(20);
        }
    }

    // .delivery-service__title

    &__title {
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
    }

    // .delivery-service__text

    &__text {
        font-weight: 600;
        font-size: adaptiveValue(20, 16, 767.98);
        line-height: 1.4;

        @media (max-width: toRem(767.98)) {
            font-weight: 400;
        }

        &--big {
            font-size: adaptiveValue(26, 20, 767.98);
            line-height: 1.31;
        }

        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
    }

    // .delivery-service__img

    &__img {

        img {
            max-width: 100%;
        }
    }
}