.delivery-faq {
    padding: toRem(60) 0 toRem(40);

    // .delivery-faq__title

    &__title {
        text-align: center;

        &:not(:last-child) {
            margin-bottom: toRem(40);
        }
    }

    // .delivery-faq__items

    &__items {
        max-width: toRem(1070);
        margin: 0 auto;
        
        &:not(:last-child) {
            margin-bottom: toRem(70);
        }
    }

    // .delivery-faq__item

    &__item {
    }
}