<div class="advantages-body">
    <div class="advantages-body__item">
        <div class="advantages-body__item-icon">
            <img src="../images/advantages/01.svg" alt="icon 1">
        </div>
        <div class="advantages-body__item-text">Безкоштовна доставка</div>
    </div>
    <div class="advantages-body__item">
        <div class="advantages-body__item-icon">
            <img src="../images/advantages/02.svg" alt="icon 2">
        </div>
        <div class="advantages-body__item-text">Безкоштовна збірка</div>
    </div>
    <div class="advantages-body__item">
        <div class="advantages-body__item-icon">
            <img src="../images/advantages/03.svg" alt="icon 3">
        </div>
        <div class="advantages-body__item-text">Післягарантійне обслуговування</div>
    </div>
    <div class="advantages-body__item">
        <div class="advantages-body__item-icon">
            <img src="../images/advantages/04.svg" alt="icon 4">
        </div>
        <div class="advantages-body__item-text">Знижки клієнтам</div>
    </div>
</div>