<header class="header">
	<div class="header__top top-header">
		<div class="top-header__container">
			<nav class="top-header__menu menu">
				<ul class="menu__list">
					<li class="menu__item"><a href="#" class="menu__link">Про нас</a></li>
					<li class="menu__item"><a href="#" class="menu__link">Оплата</a></li>
					<li class="menu__item"><a href="#" class="menu__link">Доставка та збірка</a></li>
					<li class="menu__item"><a href="#" class="menu__link">Відгуки</a></li>
					<li class="menu__item"><a href="#" class="menu__link">Блог</a></li>
					<li class="menu__item"><a href="#" class="menu__link">Контакти</a></li>
				</ul>
			</nav>
			<div class="top-header__actions actions-top-header">
				<div class="actions-top-header__social social-header">
					<div class="social-header__label">Допомога і консультація:</div>
					<div class="social-header__items">
						<a href="#" target="_blank" class="social-header__item">
							<img class="social-header__icon" src="../images/s-whatsapp.svg" alt="whatsapp icon">
						</a>
						<a href="#" target="_blank" class="social-header__item">
							<img class="social-header__icon" src="../images/s-telegram.svg" alt="telegram icon">
						</a>
						<a href="#" target="_blank" class="social-header__item">
							<img class="social-header__icon" src="../images/s-viber.svg" alt="viber icon">
						</a>
					</div>
				</div>
				<div class="actions-top-header__lang lang-header">
					<button class="lang-header__current">UA</button>
					<ul class="lang-header__list">
						<li class="lang-header__item">
							<a href="#" class="lang-header__link">RU</a>
						</li>
						<li class="lang-header__item">
							<a href="#" class="lang-header__link">EN</a>
						</li>
						<li class="lang-header__item">
							<a href="#" class="lang-header__link">DE</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="header__body body-header">
		<div class="body-header__container">
			<button type="button" class="body-header__icon-menu icon-menu"><span></span></button>
			<img class="body-header__logo" src="../images/logo-header.svg" alt="Logo image">
			<div class="body-header__catalog catalog-header">
				<button class="catalog-header__button button">
					<span class="button__text">Каталог</span>
				</button>
				<div class="catalog-header__items items-catalog-header">
					<div class="items-catalog-header__wrapper">
						<ul class="items-catalog-header__list">
							<li class="items-catalog-header__item">
								<div class="items-catalog-header__action">
									<img class="items-catalog-header__icon"
										src="../images/header/menu-categories/lizhka.svg" alt="Category logo">
									<span class="items-catalog-header__text">Ліжка</span>
								</div>
								<div class="items-catalog-header__sub-menu">
									<ul class="items-catalog-header__sub-list">
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Односпальні матраци</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Двоспальні матраци</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Bonnel</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Pocket Spring</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Безпружинні матраци</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци з ефектом Зима-Літо</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Футони</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Дитячі матраци</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци Економ</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="items-catalog-header__item">
								<div class="items-catalog-header__action">
									<img class="items-catalog-header__icon"
										src="../images/header/menu-categories/matrac.svg" alt="Category logo">
									<span class="items-catalog-header__text">Матраци</span>
								</div>
								<div class="items-catalog-header__sub-menu">
									<ul class="items-catalog-header__sub-list">
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Односпальні матраци 2</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Двоспальні матраци 2</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Bonnel 2</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Pocket Spring 2</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Безпружинні матраци 2</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци з ефектом Зима-Літо 2</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Футони 2</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Дитячі матраци 2</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци Економ 2</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="items-catalog-header__item">
								<div class="items-catalog-header__action">
									<img class="items-catalog-header__icon"
										src="../images/header/menu-categories/mmebli.svg" alt="Category logo">
									<span class="items-catalog-header__text">М’які меблі</span>
								</div>
								<div class="items-catalog-header__sub-menu">
									<ul class="items-catalog-header__sub-list">
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Односпальні матраци 3</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Двоспальні матраци 3</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Bonnel 3</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Pocket Spring 3</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Безпружинні матраци 3</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци з ефектом Зима-Літо 3</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Футони 3</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Дитячі матраци 3</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци Економ 3</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="items-catalog-header__item">
								<div class="items-catalog-header__action">
									<img class="items-catalog-header__icon"
										src="../images/header/menu-categories/shafa.svg" alt="Category logo">
									<span class="items-catalog-header__text">Шафи</span>
								</div>
								<div class="items-catalog-header__sub-menu">
									<ul class="items-catalog-header__sub-list">
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Односпальні матраци 4</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Двоспальні матраци 4</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Bonnel 4</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Pocket Spring 4</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Безпружинні матраци 4</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци з ефектом Зима-Літо 4</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Футони 4</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Дитячі матраци 4</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци Економ 4</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="items-catalog-header__item">
								<div class="items-catalog-header__action">
									<img class="items-catalog-header__icon"
										src="../images/header/menu-categories/komod.svg" alt="Category logo">
									<span class="items-catalog-header__text">Комоди</span>
								</div>
								<div class="items-catalog-header__sub-menu">
									<ul class="items-catalog-header__sub-list">
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Односпальні матраци 5</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Двоспальні матраци 5</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Bonnel 5</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Pocket Spring 5</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Безпружинні матраци 5</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци з ефектом Зима-Літо 5</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Футони 5</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Дитячі матраци 5</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци Економ 5</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="items-catalog-header__item">
								<div class="items-catalog-header__action">
									<img class="items-catalog-header__icon"
										src="../images/header/menu-categories/tumba.svg" alt="Category logo">
									<span class="items-catalog-header__text">Тумби</span>
								</div>
								<div class="items-catalog-header__sub-menu">
									<ul class="items-catalog-header__sub-list">
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Односпальні матраци 6</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Двоспальні матраци 6</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Bonnel 6</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Pocket Spring 6</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Безпружинні матраци 6</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци з ефектом Зима-Літо 6</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Футони 6</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Дитячі матраци 6</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци Економ 6</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="items-catalog-header__item">
								<div class="items-catalog-header__action">
									<img class="items-catalog-header__icon"
										src="../images/header/menu-categories/stol.svg" alt="Category logo">
									<span class="items-catalog-header__text">Столи</span>
								</div>
								<div class="items-catalog-header__sub-menu">
									<ul class="items-catalog-header__sub-list">
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Односпальні матраци 7</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Двоспальні матраци 7</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Bonnel 7</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Pocket Spring 7</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Безпружинні матраци 7</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци з ефектом Зима-Літо 7</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Футони 7</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Дитячі матраци 7</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци Економ 7</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="items-catalog-header__item">
								<div class="items-catalog-header__action">
									<img class="items-catalog-header__icon"
										src="../images/header/menu-categories/stilci.svg" alt="Category logo">
									<span class="items-catalog-header__text">Стільці</span>
								</div>
								<div class="items-catalog-header__sub-menu">
									<ul class="items-catalog-header__sub-list">
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Односпальні матраци 8</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Двоспальні матраци 8</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Bonnel 8</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Pocket Spring 8</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Безпружинні матраци 8</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци з ефектом Зима-Літо 8</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Футони 8</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Дитячі матраци 8</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци Економ 8</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="items-catalog-header__item">
								<div class="items-catalog-header__action">
									<img class="items-catalog-header__icon"
										src="../images/header/menu-categories/mstiny.svg" alt="Category logo">
									<span class="items-catalog-header__text">Меблеві стіни</span>
								</div>
								<div class="items-catalog-header__sub-menu">
									<ul class="items-catalog-header__sub-list">
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Односпальні матраци 9</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Двоспальні матраци 9</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Bonnel 9</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Pocket Spring 9</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Безпружинні матраци 9</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци з ефектом Зима-Літо 9</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Футони 9</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Дитячі матраци 9</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци Економ 9</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="items-catalog-header__item">
								<div class="items-catalog-header__action">
									<img class="items-catalog-header__icon"
										src="../images/header/menu-categories/kuhni.svg" alt="Category logo">
									<span class="items-catalog-header__text">Кухні</span>
								</div>
								<div class="items-catalog-header__sub-menu">
									<ul class="items-catalog-header__sub-list">
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Односпальні матраци 10</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Двоспальні матраци 10</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Bonnel 10</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Пружинний блок Pocket Spring 10</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Безпружинні матраци 10</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци з ефектом Зима-Літо 10</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Футони 10</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Дитячі матраци 10</a>
										</li>
										<li class="items-catalog-header__sub-item">
											<a href="#" class="items-catalog-header__sub-link">Матраци Економ 10</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<form action="#" class="body-header__search search-header">
				<button type="button" class="search-header__open">
					<span class="search-header__open-search"></span>
					<span class="search-header__open-close"></span>
				</button>
				<div class="search-header__body">
					<input minlength="3" required autocomplete="off" type="text" name="form[]" placeholder="Пошук товарів"
					class="search-header__input">
					<button class="search-header__button" type="submit"></button>
				</div>
			</form>
			<div class="body-header__contacts contacts-header">
				<div class="contacts-header__current current-contacts-header">
					<button class="current-contacts-header__phone-icon"></button>
					<div class="current-contacts-header__body">
						<span class="current-contacts-header__schedule">Щодня з 9:00 до 18:00</span>
						<a href="tel:0679294545" class="current-contacts-header__phone">067 929-45-45</a>
					</div>
					<button class="current-contacts-header__arrow"></button>
				</div>
				<ul class="contacts-header__list">
					<li class="contacts-header__item">
						<a href="tel:0501334545" class="contacts-header__link">050 133-45-45</a>
					</li>
					<li class="contacts-header__item">
						<a href="tel:0931707545" class="contacts-header__link">093 170-75-45</a>
					</li>
					<li class="contacts-header__item">
						<button class="contacts-header__callme">Передзвоніть мені</button>
					</li>
				</ul>
			</div>
			<div class="body-header__actions actions-body-header">
				<button class="actions-body-header__item actions-body-header__item--favourite"></button>
				<button class="actions-body-header__item actions-body-header__item--cart"></button>
				<div class="actions-body-header__cart cart-header">
					<div class="cart-header__header">
						<h4 class="cart-header__title">Ваш кошик<span>4</span></h4>
						<button type="button" class="cart-header__close"></button>
					</div>
					<div class="cart-header__items">
						@@include("cart-item.html", {
							itemCartClass: "cart-header__item",
							hasOldPrice: true
						})
						@@include("cart-item.html", {
							itemCartClass: "cart-header__item",
							hasOldPrice: false
						})
					</div>
					<div class="cart-header__footer">
						<a href="#" class="cart-header__checkout button">ОФОРМИТИ ЗАМОВЛЕННЯ</a>
						<a href="#" class="cart-header__continue button button--border">Продовжити покупки</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header__bottom bottom-header">
		<div class="bottom-header__container">
			<div class="bottom-header__menus">
				<ul class="bottom-header__list">
					<li class="bottom-header__item">
						<a href="#" class="bottom-header__link bottom-header__link--promotion">Акції</a>
					</li>
					<li class="bottom-header__item">
						<a href="#" class="bottom-header__link bottom-header__link--sale">Розпродаж</a>
					</li>
					<li class="bottom-header__item">
						<a href="#" class="bottom-header__link bottom-header__link--credit">Купити в кредит</a>
					</li>
				</ul>
				<ul class="bottom-header__list">
					<li class="bottom-header__item">
						<a href="#" class="bottom-header__link">Дитяча</a>
					</li>
					<li class="bottom-header__item">
						<a href="#" class="bottom-header__link">Кухня</a>
					</li>
					<li class="bottom-header__item">
						<a href="#" class="bottom-header__link">Ванна</a>
					</li>
					<li class="bottom-header__item">
						<a href="#" class="bottom-header__link">Спальня</a>
					</li>
					<li class="bottom-header__item">
						<a href="#" class="bottom-header__link">Передпокій</a>
					</li>
					<li class="bottom-header__item">
						<a href="#" class="bottom-header__link">Вітальня</a>
					</li>
					<li class="bottom-header__item">
						<a href="#" class="bottom-header__link">Офіс</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>