@@if (hasMargin === true) {
  <ul class="pagination pagination--margin">
}
@@if (hasMargin === false) {
  <ul class="pagination">
}
  <li class="pagination__item">
    <a href="#" class="pagination__link-prev">
      <svg class="pagination__arrow-icon">
        <use xlink:href="images/sprite.svg#arrow"></use>
      </svg>
    </a>
  </li>
  <li class="pagination__item">
    <a href="#" class="pagination__link pagination__link--active">1</a>
  </li>
  <li class="pagination__item">
    <a href="#" class="pagination__link">2</a>
  </li>
  <li class="pagination__item">
    <a href="#" class="pagination__link">3</a>
  </li>
  <li class="pagination__item">
    <a href="#" class="pagination__link">3</a>
  </li>
  <li class="pagination__item">
    <a href="#" class="pagination__link">5</a>
  </li>
  <li class="pagination__item">
    <a href="#" class="pagination__link">6</a>
  </li>
  <li class="pagination__item">
    <a href="#" class="pagination__link">7</a>
  </li>
  <li class="pagination__item">
    <button class="pagination__more-btn">...</button>
  </li>
  <li class="pagination__item">
    <a href="#" class="pagination__link">18</a>
  </li>
  <li class="pagination__item">
    <a href="#" class="pagination__link-next">
      <svg class="pagination__arrow-icon">
        <use xlink:href="images/sprite.svg#arrow"></use>
      </svg>
    </a>
  </li>
</ul>