<aside class="@@addReviewClass add-review">
	<h3 class="add-review__title title title--min">@@titleValue</h3>
	<form action="#" class="add-review__form">
		<div class="add-review__lines">
			<div class="add-review__line">
				<input required placeholder="Ваше ім'я прізвище" type="text" class="add-review__input">
			</div>
			<div class="add-review__line">
				<input required placeholder="E-mail" type="email" class="add-review__input">
			</div>
			<div class="add-review__line">
				<textarea required placeholder="Відгук" class="add-review__input"></textarea>
			</div>
		</div>
		<div class="add-review__add-rating add-rating">
			<h5 class="add-rating__title">Ваша оцінка:</h5>
			<div class="add-rating__items">
				<input type="radio" name="rating" value="1" class="add-rating__item">
				<input type="radio" name="rating" value="2" class="add-rating__item">
				<input type="radio" name="rating" value="3" class="add-rating__item">
				<input type="radio" name="rating" value="4" class="add-rating__item">
				<input type="radio" name="rating" value="5" class="add-rating__item">
			</div>
		</div>
		<button class="add-review__button button" type="submit">Залишити відгук</button>
	</form>
</aside>