.faq {
	padding-top: adaptiveValue(70, 40);
	padding-bottom: adaptiveValue(40, 25);
	// .faq__title
	&__title {
		text-align: center;
		&:not(:last-child) {
			margin-bottom: adaptiveValue(40, 25);
		}
	}
	// .faq__items
	&__items {
		max-width: toRem(1070);
		margin: 0 auto;
		padding-bottom: adaptiveValue(70, 40);
	}
}

.item-faq {
	border-radius: toRem(8);
	background: #fff;
	box-shadow: toRem(-3) toRem(4) toRem(15) 0 rgba(0, 0, 0, 0.06);
	padding: toRem(15);
	border: toRem(2) solid transparent;
	transition: border 0.3s;
	&--margin {
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
	&.is-active {
		border: toRem(2) solid $yellow;
	}
	// .item-faq__title
	&__title {
		cursor: pointer;
		list-style: none;
		background: url("../../images/question.svg") 0 0 / toRem(33) no-repeat;
		font-size: toRem(19);
		font-weight: 600;
		line-height: 126.315789%; /* 24/19 */
		min-height: toRem(33.333);
		padding-inline-start: toRem(51);
		gap: toRem(15);
		display: flex;
		justify-content: space-between;
		align-items: center;
		&::marker,
		&::-webkit-details-marker {
			display: none;
		}
		&::after {
			content: "";
			inline-size: toRem(13);
			block-size: toRem(13);
			aspect-ratio: 1 / 1;
			mask-image: url("../images/sprite.svg#arrow");
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: $dark;
			transition: transform 0.3s;
		}
		.is-active & {
			&::after {
				transform: rotate(-180deg);
			}
		}
		@media (max-width: toRem(479.98)) {
			background: url("../../images/question.svg") 0 0 / toRem(25) no-repeat;
			padding-inline-start: toRem(35);
			padding-block-start: toRem(1);
			align-items: flex-start;
			&::after {
				align-self: center;
			}
		}
	}
	// .item-faq__wrapper
	&__wrapper {
		padding-block-start: toRem(15);
	}
	// .item-faq__text
	&__text {
		overflow: hidden;
		line-height: 1.87;
	}
}