.service-promo {
    
    @media (max-width: toRem(767.98)) {
        background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    }

    // .service-promo__body
    
    &__body {
        display: flex;
        background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
        align-items: center;
        column-gap: toRem(15);

        @media (max-width: toRem(767.98)) {
            text-align: center;
            flex-wrap: wrap;
            background: none;
        }
    }

    // .service-promo__content

    &__content {
        max-width: adaptiveValue(450, 410, 479.98);
        padding: toRem(50) 0 toRem(50) toRem(50);

        @media (max-width: toRem(767.98)) {
            margin: 0 auto;
            padding: toRem(40) 0 0 0;
        }
    }

    // .service-promo__title

    &__title {
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
    }

    // .service-promo__subtitle

    &__subtitle {
        font-size: adaptiveValue(26, 20, 767.98);
        line-height: 1.31;
        font-weight: 600;

        &:not(:last-child) {
            margin-bottom: toRem(20);
        }

        @media (max-width: toRem(767.98)) {
            line-height: 1.4;
        }
    }

    // .service-promo__text

    &__text {
        font-size: adaptiveValue(20, 16, 767.98);
        line-height: 1.4;
        font-weight: 600;

        &:not(:last-child) {
            margin-bottom: toRem(20);
        }

        @media (max-width: toRem(767.98)) {
            font-weight: 400;
            line-height: 1.87;
        }
    }

    // .service-promo__image

    &__image {
        flex: 0 1 auto;
        margin: 0 auto;

        img {
            max-width: 100%;
        }
    }
}