.about-us {
    
    @media (max-width: toRem(767.98)) {
        background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    }

    // .about-us__body
    
    &__body {
        display: flex;
        background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
        align-items: center;
        column-gap: toRem(15);

        @media (max-width: toRem(767.98)) {
            text-align: center;
            flex-wrap: wrap;
            background: none;
        }
    }

    // .about-us__content

    &__content {
        max-width: adaptiveValue(450, 410, 479.98);
        padding: toRem(20) 0 toRem(20) toRem(50);

        @media (max-width: toRem(767.98)) {
            margin: 0 auto;
            padding: toRem(40) 0 0 0;
        }
    }

    // .about-us__title

    &__title {
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
    }

    // .about-us__text

    &__text {
        font-size: adaptiveValue(20, 16, 767.98);
        line-height: 1.4;
        font-weight: 600;

        &:not(:last-child) {
            margin-bottom: toRem(20);
        }

        &--big {
            font-size: adaptiveValue(26, 20, 767.98);
            line-height: 1.31;
        }

        @media (max-width: toRem(767.98)) {
            font-weight: 400;
            line-height: 1.87;

            &--big {
                font-weight: 600;
                line-height: 1.4;
            }
        }
    }

    // .about-us__image

    &__image {
        flex: 0 1 auto;

        img {
            max-width: 100%;
        }
    }
}