@use "./variables" as *;
@use "./functions" as *;

body {
	font-family: "ProximaNova", sans-serif;
	color: $dark;
	line-height: 1.87;
	background: $light;
}

[class*="__container"] {
	max-width: toRem($containerWidth + $paddingContainerInline * 2);
	padding-inline: toRem($paddingContainerInline);
	margin-inline: auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
	> main {
		flex: 1 1 auto;
		transition: all 0.3s;
		.cart-open &,
		.catalog-open & {
			filter: blur(toRem(2));
		}
	}
}

.title {
	font-size: adaptiveValue(40, 30, 479.98);
	font-weight: 600;
	line-height: 1.2;

	&--min {
		line-height: 1.39;
		font-size: adaptiveValue(30, 25, 479.98);
	}

	@media (max-width: toRem(767.98)) {
		line-height: 1.33;
	}
}

%card-item {
	background: #fff;
	border-radius: toRem(8);
	box-shadow: toRem(-3) toRem(4) toRem(15) toRem(0) rgba(0, 0, 0, 0.06);
	overflow: hidden;
}

._content-padding {
	padding-top: adaptiveValue(70, 60, 767.98);
}

%expand-title {
	text-align: center;
	margin: 0 auto toRem(30);
}

%expand-text {
	overflow: hidden;
	transition: max-height 0.6s ease;

	> p:not(:last-child) {
		margin-bottom: toRem(10);
	}
}

%expand-showmore-btn {
	--display: block;
	--rotate: 0deg;

	position: relative;
	display: var(--display);
	width: toRem(50);
	height: toRem(50);
	transform: rotate(var(--rotate));
	margin: 0 auto;
	z-index: 1;

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		background-color: $yellow;
		mask: url("../images/showmore.svg");
		mask-repeat: no-repeat;
		transition: background-color 0.3s;
	}

	@media (any-hover: hover) {
		&:hover::after {
			background-color: $dark;
		}
	}
}

@mixin expand-content($bgGradientHeight: 150) {
	--opacity: 1;
	--visibility: visible;

	position: relative;
	margin: 0 auto;

	&::after {
		content: "";
		width: 100%;
		height: toRem($bgGradientHeight);
		position: absolute;
		bottom: 0;
		left: 0;
		opacity: var(--opacity);
		visibility: var(--visibility);
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 33.85%, #fff 72.4%);
		transition:
			opacity 0.3s ease,
			visibility 0.3s ease;
	}
}

.quantity {
	display: flex;
	background-color: $light;
	border: toRem(1) solid $greyLight;
	border-radius: toRem(8);
	min-height: toRem(50);
	padding-inline: toRem(15);
	overflow: hidden;
	// .quantity__button
	&__button {
		inline-size: toRem(24);
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		&::before {
			content: "";
			block-size: toRem(10);
			aspect-ratio: 1 / 1;
			mask-repeat: no-repeat;
			mask-position: center;
			mask-size: toRem(10);
			background-color: $grey;
		}
		// .quantity__button--minus
		&--minus {
			&::before {
				mask-image: url("../../images/header/minus.svg");
			}
		}
		// .quantity__button--plus
		&--plus {
			&::before {
				mask-image: url("../../images/header/plus.svg");
			}
		}
	}
	// .quantity__input
	&__input {
		text-align: center;
		font-weight: 600;
		font-size: toRem(20);
	}
}

.slider-pagination {
	position: static;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: toRem(10);

	&__bullet {
		position: relative;
		width: toRem(15);
		height: toRem(15);
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 toRem(15);
		border-radius: 50%;
		background-color: #fff;
		border: toRem(2) solid $greyLight;
		transition: border 0.3s ease;
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			background-color: transparent;
			position: absolute;
			border: toRem(2) solid transparent;
			border-radius: 50%;
			inset: 0;
			transition:
				background-color 0.3s ease,
				border 0.3s ease;
		}
		&--active {
			border: toRem(2) solid #fff;

			&::before {
				background-color: $yellow;
				border: toRem(2) solid #fff;
			}
		}
	}
}

.item-faq {
	border-radius: toRem(8);
	background: #fff;
	box-shadow: toRem(-3) toRem(4) toRem(15) 0 rgba(0, 0, 0, 0.06);
	padding: toRem(15);
	border: toRem(2) solid transparent;
	transition: border 0.3s;
	&--margin {
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
	&.is-active {
		border: toRem(2) solid $yellow;
		.item-faq__text {
			margin-block-start: toRem(15);
		}
	}
	// .item-faq__title
	&__title {
		cursor: pointer;
		list-style: none;
		background: url("../../images/question.svg") 0 0 / toRem(33) no-repeat;
		font-size: toRem(19);
		font-weight: 600;
		line-height: 126.315789%; /* 24/19 */
		min-height: toRem(33.333);
		padding-inline-start: toRem(51);
		gap: toRem(15);
		display: flex;
		justify-content: space-between;
		align-items: center;
		&::marker,
		&::-webkit-details-marker {
			display: none;
		}
		&::after {
			content: "";
			inline-size: toRem(13);
			block-size: toRem(13);
			aspect-ratio: 1 / 1;
			mask-image: url("../images/sprite.svg#arrow");
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: $dark;
			transition: transform 0.3s;
		}
		.is-active & {
			&::after {
				transform: rotate(-180deg);
			}
		}
		@media (max-width: toRem(479.98)) {
			background: url("../../images/question.svg") 0 0 / toRem(25) no-repeat;
			padding-inline-start: toRem(35);
			padding-block-start: toRem(1);
			align-items: flex-start;
			&::after {
				align-self: center;
			}
		}
	}
	// .item-faq__text
	&__text {
		overflow: hidden;
		line-height: 1.87;
	}
}

.rating {
	display: flex;
	column-gap: toRem(10);
	// .rating__stars
	&__stars {
		display: flex;
		gap: toRem(4);
	}
	// .rating__star
	&__star {
		block-size: toRem(20);
		inline-size: toRem(20);
	}
	// .rating__reviews
	&__reviews {
		display: flex;
		gap: toRem(5);
		font-size: toRem(17);
		color: $grey;
		transition: all 0.3s;
		line-height: 1.2;
		&::before {
			content: "";
			flex-shrink: 0;
			background: url("../../../images/reviews/review-all.svg") 0 0 / 20px no-repeat;
			aspect-ratio: 1 / 1;
			flex-basis: toRem(20);
			inline-size: toRem(20);
		}
		@media (any-hover: hover) {
			&:hover:not(&--grade) {
				color: $dark;
				text-underline-offset: 3px;
				text-decoration: underline;
			}
		}
		&--grade {
			&::before {
				display: none;
			}
		}
	}
}