@use "./variables" as *;
@use "./functions" as *;

body {
    font-family: "ProximaNova", sans-serif;
    color: $dark;
    line-height: 1.87;
	background: $light;
}

[class*="__container"] {
    max-width: toRem($containerWidth + $paddingContainerInline * 2);
    padding-inline: toRem($paddingContainerInline);
    margin-inline: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip;
    > main {
        flex: 1 1 auto;
    }
}

.title {
	font-size: toRem(40);
	font-weight: 600;
	line-height: 1.2;
}

%card-item {
	background: #fff;
	border-radius: toRem(8);
	box-shadow: toRem(-3) toRem(4) toRem(15) toRem(0) rgba(0, 0, 0, 0.06);
	overflow: hidden;
}

%expand-title {
    text-align: center;
    margin: 0 auto toRem(30);
}

%expand-text {
    overflow: hidden;
    transition: max-height .6s ease;

    > p:not(:last-child) {
        margin-bottom: toRem(10);
    }
}

%expand-showmore-btn {
    --display: block;
    --rotate: 0deg;
    
    position: relative;
    display: var(--display);
    width: toRem(50);
    height: toRem(50);
    transform: rotate(var(--rotate));
    margin: 0 auto;
    z-index: 1;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: $yellow;
        mask: url("../images/showmore.svg");
        mask-repeat: no-repeat;
        transition: background-color .3s;
    }

    @media (any-hover: hover){
        &:hover::after {
            background-color: $dark;
        }
    }
}

@mixin expand-content ($bgGradientHeight: 150) {
    --opacity: 1;
    --visibility: visible;

    position: relative;
    margin: 0 auto;

    &::after {
        content:'';
        width: 100%;
        height: toRem($bgGradientHeight);
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: var(--opacity);
        visibility: var(--visibility);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 33.85%, #fff 72.4%);
        transition: opacity .3s ease, visibility .3s ease;
    }
}