.item-cart {
	display: grid;
	grid-template-columns: toRem(120) 1fr toRem(20);
	column-gap: toRem(20);
	row-gap: toRem(16);
	@media (max-width: toRem(430)) {
		grid-template-columns: toRem(100) 1fr toRem(20);
		column-gap: toRem(15);
	}
	&:not(:last-child) {
		padding-block-end: toRem(30);
		margin-block-end: toRem(30);
		border-block-end: toRem(2) solid rgba(197, 197, 197, 0.3);
	}
	// .item-cart__link-image
	&__link-image {
		align-self: start;
	}
	// .item-cart__image
	&__image {
		aspect-ratio: 120 / 100;
		block-size: 100%;
		inline-size: 100%;
		object-fit: cover;
		border-radius: toRem(8);
	}
	// .item-cart__body
	&__body {
		> * {
			&:not(:last-child) {
				margin-block-end: toRem(8);
			}
		}
	}
	// .item-cart__size
	&__size {
		color: $grey;
		font-size: toRem(13);
		line-height: 1.69;
		font-weight: 300;
	}
	// .item-cart__title
	&__title {
		font-size: toRem(19);
		line-height: 1.26;
		font-weight: 600;
		@media (max-width: toRem(430)) {
			font-size: toRem(16);
		}
	}
	// .item-cart__link-title
	&__link-title {
		transition: color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: $yellowHover;
			}
		}
	}
	// .item-cart__stock
	&__stock {
		display: flex;
		gap: toRem(7);
		color: $dark;
		font-size: toRem(13);
		font-weight: 300;
		line-height: 1.69;
		&::before {
			content: "";
			inline-size: toRem(20);
			block-size: toRem(20);
			mask-image: url("../images/sprite.svg#check-mark");
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: #82b09d;
		}
	}
	// .item-cart__close
	&__close {
		block-size: toRem(20);
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		transition: background-color 0.3s;
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			background: url('../images/item-cart-remove.svg') 0 0 no-repeat;
			transition: transform 0.5s ease;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: rotate(90deg);
				}
			}
		}
	}
}
.quantity {
	display: flex;
	background-color: $light;
	border: toRem(1) solid $greyLight;
	border-radius: toRem(8);
	min-height: toRem(50);
    overflow: hidden;
	// .quantity__button
	&__button {
		inline-size: toRem(24);
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		&::before {
			content: "";
			block-size: toRem(10);
			aspect-ratio: 1 / 1;
			mask-repeat: no-repeat;
			mask-position: center;
			mask-size: toRem(10);
			background-color: $grey;
		}
		// .quantity__button--minus
		&--minus {
			&::before {
				mask-image: url("../images/header/minus.svg");
			}
		}
		// .quantity__button--plus
		&--plus {
			&::before {
				mask-image: url("../images/header/plus.svg");
			}
		}
	}
	// .quantity__input
	&__input {
		text-align: center;
		font-weight: 600;
		font-size: toRem(20);
	}
}

.price-item-cart {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: toRem(20);
	row-gap: toRem(5);
	// .price-item-cart__current
	&__current {
		font-size: toRem(20);
		line-height: 1.4;
		font-weight: 600;
	}
	// .price-item-cart__old
	&__old {
		font-size: toRem(15);
		line-height: 1.46;
		color: $red;
		text-decoration: line-through;
	}
}