.item-category {
	@extend %card-item;
	// .item-category__link
	&__link {
		display: flex;
		flex-direction: column;
		gap: toRem(15);
		padding: toRem(20);
		position: relative;
		block-size: 100%;
		// background circle for card
		&::after {
			content: "";
			position: absolute;
			inset-block-end: 0;
			inset-inline-start: 50%;
			inline-size: 112%; /* 280/250 */
			aspect-ratio: 1 / 1;
			border-radius: 50%;
			background: $light;
			transform: translate(-50%, 31.428571%); /* 88/280 */
		}
		@media (any-hover: hover) {
			&:hover {
				.item-category__arrow {
					transform: scale(1);
				}
				.item-category__header {
					color: $yellow;
				}
			}
		}
		@media (any-hover: none) {
			// annulment hover for mobile
			.item-category__arrow {
				transform: scale(1);
			}
		}
	}
	// .item-category__header
	&__header {
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
		gap: toRem(15);
		font-weight: 600;
		font-size: toRem(20);
		line-height: 1.4;
		transition: color 0.3s ease-out;
		@media (max-width: toRem(439.98)) {
			min-height: toRem(45);
		}
	}
	// .item-category__quantity
	&__title {
		position: relative;
		z-index: 2;
	}
	// .item-category__quantity
	&__quantity {
		color: $greyLight;
	}
	// .item-category__arrow
	&__arrow {
		position: absolute;
		inset-block-end: toRem(20);
		inset-inline-end: toRem(20);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: toRem(2) solid $yellow;
		inline-size: adaptiveValue(50, 40, 767.98);
		block-size: adaptiveValue(50, 40, 767.98);
		transition: transform 0.3s;
		z-index: 3;
		will-change: transform;
		transform: scale(0);
		// стрелка
		&::before {
			content: "";
			inline-size: adaptiveValue(11, 9, 767.98);
			block-size: adaptiveValue(11, 9, 767.98);
			mask: url("../images/sprite.svg#arrow-forward");
			mask-repeat: no-repeat;
			background-color: $yellow;
		}
	}
	// .item-category__image
	&__image {
		max-inline-size: 100%;
		position: relative;
		z-index: 2;
	}
}
