.header {
	position: sticky;
	inset-block-start: 0;
	inset-inline-start: 0;
	z-index: 50;
	line-height: 1;
	&::before {
		content: "";
		position: fixed;
		inset-inline-start: 0;
		inset-block-start: 0;
		block-size: 100%;
		inline-size: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
		z-index: 2;
	}
	.cart-open &,
	.catalog-open & {
		&::before {
			opacity: 1;
			visibility: visible;
		}
	}
	// .header__top
	&__top {
		background-color: $light;
		position: relative;
		z-index: 6;
		@media (max-width: toRem(991.98)) {
			position: fixed;
			block-size: 100%;
			inline-size: 100%;
			inset-inline-start: -100%;
			inset-block-start: 0;
			overflow: auto;
			background-color: #fff;
			transition: all 0.3s;
			.menu-open & {
				inset-inline-start: 0%;
			}
		}
	}
	// .header__bottom
	&__bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		transform: translateY(100%);
		.header.scroll & {
			transform: translateY(0);
			user-select: none;
		}
		@media (min-width: toRem(992)) {
			.cart-open &,
			.catalog-open & {
				filter: blur(toRem(2));
			}
		}

		@media (max-width: toRem(992)) {
			z-index: 2;
		}
	}
	@media (min-width: toRem(580)) {
		&.scroll .header__body {
			box-shadow: 0 0 toRem(15) 0 rgba(0, 0, 0, 0.25);
		}
	}
}
.top-header {
	// .top-header__container
	&__container {
		display: flex;
		@media (min-width: toRem(992)) {
			padding-block: toRem(15);
			// Gap безопасности
			gap: toRem(40);
			justify-content: space-between;
			align-items: center;
		}
		@media (max-width: toRem(991.98)) {
			flex-direction: column;
			gap: toRem(25);
			padding-block-start: toRem(100);
			padding-block-end: toRem(30);
		}
		@media (max-width: toRem(699.98)) {
			padding-block-start: toRem(80);
		}
	}
}
.menu {
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: toRem(30);
		row-gap: toRem(8);
		line-height: 1.2;
		@media (max-width: toRem(991.98)) {
			flex-direction: column;
			row-gap: toRem(20);
		}
	}
	// .menu__link
	&__link {
		color: $grey;
		text-decoration: underline transparent;
		text-underline-offset: toRem(3);
		transition: text-decoration 0.3s ease-out;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
		@media (max-width: toRem(991.98)) {
			font-size: toRem(24);
		}
	}
}
.actions-top-header {
	display: flex;
	column-gap: toRem(25);
	row-gap: toRem(10);
	align-items: center;
}
.social-header {
	display: flex;
	gap: toRem(20);
	flex-wrap: wrap;
	align-items: center;
	// .social-header__label
	&__label {
		flex-shrink: 0;
		@media (max-width: toRem(1159.98)) {
			display: none;
		}
	}
	// .social-header__items
	&__items {
		display: flex;
		column-gap: toRem(10);
		row-gap: toRem(5);
		align-items: center;
	}
	// .social-header__item
	&__item {
		block-size: toRem(30);
		aspect-ratio: 1 / 1;
		overflow: hidden;
		border-radius: 50%;
		overflow: hidden;
		flex-shrink: 0;
	}
	// .social-header__icon
	&__icon {
		block-size: toRem(30);
		aspect-ratio: 1 / 1;
		transition: transform 0.3s ease-out;
		will-change: transform;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.11);
			}
		}
	}
}
.lang-header {
	position: relative;
	// .lang-header__current
	&__current {
		display: flex;
		gap: toRem(7);
		align-items: center;
		color: $grey;
		transition: color 0.5s;
		font-size: toRem(19);
		line-height: 1.26;
		font-weight: 600;
		position: relative;
		z-index: 6;
		&::after {
			content: "";
			inline-size: toRem(12);
			aspect-ratio: 1 / 1;
			mask: url("../images/sprite.svg#arrow");
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: $grey;
			will-change: transform;
			transition: transform 0.5s;
		}
	}
	.--active & {
		color: $yellow;
		&::after {
			transform: rotate(-180deg);
		}
	}
	// .lang-header__list
	&__list {
		position: absolute;
		inset-block-start: toRem(100%);
		inline-size: 100%;
		z-index: 3;
		padding-block: toRem(10);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition:
			opacity 0.5s,
			visibility 0.5s;
		&::before {
			content: "";
			box-shadow: 0 0 toRem(15) 0 rgba(0, 0, 0, 0.12);
			border-radius: toRem(8);
			position: absolute;
			inset-block-start: toRem(-34);
			inset-inline-start: toRem(-5);
			inline-size: calc(100% + toRem(10));
			block-size: calc(100% + toRem(34));
			background: #fff;
		}
		.--active & {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
	}
	// .lang-header__item
	&__item {
		position: relative;
		&:not(:last-child) {
			margin-block-end: toRem(10);
		}
	}
	// .lang-header__link
	&__link {
		color: $grey;
		font-size: toRem(19);
		font-weight: 600;
		transition: color 0.35s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
	}
	@media (any-hover: hover) {
		&:hover {
			.lang-header__current {
				color: $yellow;
				&::after {
					transform: rotate(-180deg);
				}
			}
			.lang-header__list {
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
		}
	}
}
//========================================================================================================================================================
//Burger Icon
.icon-menu {
	display: none;
	@media (max-width: toRem(991.98)) {
		display: block;
		flex-shrink: 0;
		position: relative;
		inline-size: toRem(30);
		block-size: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			inline-size: 100%;
			block-size: toRem(2);
			background-color: #000;
		}
		&::before {
			inset-block-start: 0;
		}
		&::after {
			inset-block-end: 0;
		}
		span {
			inset-block-start: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				inline-size: 0;
			}
			&::before {
				inset-block-start: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				inset-block-end: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
//========================================================================================================================================================
.body-header {
	position: relative;
	z-index: 5;
	background-color: #fff;
	@media (max-width: toRem(991.98)) {
		z-index: 7;
		.menu-open & {
			&::after {
				content: "";
				position: absolute;
				inset-block-end: 0;
				inset-inline-start: 0;
				block-size: toRem(2);
				inline-size: 100%;
				background-color: $light;
			}
		}
	}
	// .body-header__container
	&__container {
		display: flex;
		align-items: center;
		gap: toRem(30);
		padding-block: toRem(25);
		position: relative;
		@media (max-width: toRem(1159.98)) {
			gap: toRem(15);
			padding-block: toRem(15);
		}
		@media (max-width: toRem(991.98)) {
			display: grid;
			grid-template-columns: 1fr auto 1fr;
		}
		@media (max-width: toRem(699.98)) {
			padding-block: toRem(5);
		}
	}
	// .body-header__logo
	&__logo {
		flex-shrink: 0;
		margin-inline-end: toRem(5);
		// inline-size: adaptiveValue(250,170,479.98);
		@media (max-width: toRem(1159.98)) {
			margin-inline-end: toRem(0);
			inline-size: toRem(200);
		}
		@media (max-width: toRem(479.98)) {
			inline-size: toRem(155);
		}
	}
	// .body-header__search
	&__search {
		flex-grow: 1;
		@media (max-width: toRem(579.98)) {
			flex-grow: 0;
		}
	}
	// .body-header__contacts
	&__contacts {
		flex-shrink: 0;
		@media (max-width: toRem(991.98)) {
			justify-self: end;
		}
	}
	// .body-header__actions
	&__actions {
		flex-shrink: 0;
	}
}
.catalog-header {
	// .catalog-header__button
	&__button {
		padding-inline: toRem(22);
		padding-block: toRem(11);
		@media (any-hover: hover) {
			&:hover {
				background-color: $yellowHover;
			}
		}
		@media (max-width: toRem(1159.98)) {
			padding-inline: toRem(18);
		}
		@media (max-width: toRem(579.98)) {
			inline-size: 100%;
		}
		.catalog-open & {
			background-color: $dark;
			@media (any-hover: hover) {
				&:hover {
					background-color: $grey;
				}
			}
		}
	}
	@media (max-width: toRem(579.98)) {
		flex-grow: 1;
	}
}
:root {
	--menu-catalog-top: toRem(0);
}
.items-catalog-header {
	position: absolute;
	block-size: calc(100dvh - var(--menu-catalog-top));
	inline-size: 100%;
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
	inset-inline-start: 0;
	inset-block-start: calc(100% + toRem(17));
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	&::-webkit-scrollbar {
		inline-size: 0;
		block-size: 0;
	}

	@media (max-width: toRem(991.98)) {
		inset-block-start: calc(100% + toRem(22));
	}
	@media (min-width: toRem(992)) {
		border-radius: toRem(8);
	}

	.catalog-open & {
		inset-inline-start: 0;
		opacity: 1;
		visibility: visible;
	}
	// .items-catalog-header__wrapper
	&__wrapper {
		position: absolute;
		inset-block-start: 0;
		max-width: toRem(300);
		inline-size: 100%;
		&::before,
		&::after {
			content: "";
			position: absolute;
			z-index: 2;
			inset-inline-start: 0;
			background-color: #fff;
			inline-size: 100%;
			block-size: toRem(10);
		}
		&::before {
			inset-block-start: 0;
			border-radius: toRem(8) toRem(8) 0 0;
		}
		&::after {
			inset-block-end: 0;
			border-radius: 0 0 toRem(8) toRem(8);
		}
		@media (max-width: toRem(991.98)) {
			max-width: none;
		}
		@media (min-width: toRem(992)) {
			inset-inline-start: toRem(10);
		}
	}
	// .items-catalog-header__list
	&__list {
		position: relative;
		display: flex;
		flex-direction: column;
		background-color: #fff;
		padding-block: toRem(10);
		z-index: 1;
		&::after {
			content: "";
			pointer-events: none;
			position: absolute;
			inset-inline-end: 0;
			inset-block-start: toRem(10);
			background-color: $yellow;
			block-size: calc(100% - toRem(20));
			inline-size: toRem(0);
			transition: inline-size 0.3s;
			z-index: 3;
		}
		@media (any-hover: hover) and (min-width: toRem(992)) {
			border-radius: toRem(8);

			&:hover {
				border-radius: toRem(8) 0 0 toRem(8);
				&::after {
					inline-size: toRem(5);
				}
			}
		}
	}
	// .items-catalog-header__item
	&__item {
		@media (min-width: toRem(991.98)) and (any-hover: hover) {
			&:hover {
				.items-catalog-header__action {
					background-color: $yellow;
					&::after{
						background-color: $dark;						
					}
				}			
				.items-catalog-header__sub-menu {
					border-radius: 0 toRem(8) toRem(8) 0;
					pointer-events: all;
					transform: translateX(100%);
					transition: transform .3s ease;
				}	
			}
			.--showed &:hover .items-catalog-header__sub-menu {
				transition: none;
			}
			.--hid & .items-catalog-header__sub-menu {
				transition: transform .3s ease;
			}
		}
	}
	&__action {
		position: relative;
		display: flex;
		align-items: center;
		font-size: toRem(20);
		font-weight: 600;
		line-height: 1.4;
		padding: toRem(10) toRem(24) toRem(10) toRem(30);
		z-index: 2;
		column-gap: toRem(15);
		background-color: #fff;
		cursor: pointer;
		transition: background-color 0.3s;
		&::after {
			content: "";
			inline-size: toRem(13);
			flex: 0 0 toRem(13);
			aspect-ratio: 1 / 1;
			mask-image: url("../images/sprite.svg#arrow");
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: $yellow;
			transition: background-color 0.3s;
			transform: rotate(-90deg);
			transition: background-color .3s ease;
		}
		@media (any-hover: hover){
			&:hover {
				background-color: $yellow;
				&::after {
					background-color: $dark;					
				}
			}
		}
		@media (max-width: toRem(991.98)) {
			padding-inline-end: toRem(15);
			padding-inline-start: toRem(15);
			&::after {
				transform: rotate(0deg);
				.--active & {
					transform: rotate(-180deg);
				}
			}
		}
	}
	// .items-catalog-header__icon
	&__icon {
		flex: 0 0 toRem(40);
	}
	// .items-catalog-header__text
	&__text {
		flex-grow: 1;
	}
	// .items-catalog-header__sub-menu
	&__sub-menu {
		background-color: $light;
		@media (min-width: toRem(992)) {
			background-color: #fff;
			position: absolute;
			inset-inline-start: 0;
			inset-block-start: 0;
			block-size: 100%;
			inline-size: 100%;
			pointer-events: none;
			border-radius: toRem(8);
			padding-block: toRem(10);
			overflow: hidden;
		}
	}
	// .items-catalog-header__sub-list
	&__sub-list {
		padding-inline: toRem(20) toRem(30);
		padding-block: toRem(20);
		@media (min-width: toRem(992)) {
			position: absolute;
			inset-block-start: toRem(10);
			inset-inline-start: 0;
			inline-size: 100%;
			overflow-y: auto;
		}
		@media (max-width: toRem(991.98)) {
			padding-inline: toRem(15);
			padding-block: toRem(10);
		}
	}
	// .items-catalog-header__sub-item
	&__sub-item {
		&:not(:last-child) {
			margin-block-end: toRem(15);
		}
	}
	// .items-catalog-header__sub-link
	&__sub-link {
		font-size: toRem(19);
		line-height: 1.5;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.search-header {
	&:focus-within {
		.search-header__button {
			transform: rotate(360deg);
		}
	}
	// .search-header__body
	&__body {
		block-size: toRem(50);
		position: relative;
		@media (max-width: toRem(579.98)) {
			block-size: toRem(70);
			background-color: #fff;
			position: absolute;
			inline-size: 100%;
			inset-inline-start: 0;
			inset-block-start: 110%;
			padding-block: toRem(10);
			padding-inline: toRem(15);
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s;
			.search-open & {
				inset-block-start: 100%;
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .search-header__input
	&__input {
		border: toRem(1) solid $greyLight;
		block-size: 100%;
		border-radius: toRem(8);
		padding-inline-start: toRem(15);
		padding-inline-end: toRem(55);
		position: relative;
		z-index: 1;
		&::placeholder {
			color: $greyLight;
			transition: opacity 0.55s ease-out;
		}
		&:focus::placeholder {
			opacity: 0;
		}
	}
	// .search-header__button
	&__button {
		position: absolute;
		block-size: 100%;
		inline-size: toRem(55);
		inset-inline-end: 0;
		inset-block-end: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: toRem(8);
		transition: transform 0.8s;
		will-change: transform;
		&::before {
			content: "";
			inline-size: toRem(24);
			aspect-ratio: 1 / 1;
			background: url("../../images/header/search.svg") 0 0 / 100% no-repeat;
		}
		@media (max-width: toRem(579.98)) {
			block-size: 50%;
			inset-block-end: 25%;
			inset-inline-end: toRem(15);
		}
	}
	// .search-header__open
	&__open {
		display: none;
		@media (max-width: toRem(579.98)) {
			display: block;
			position: relative;
			flex-shrink: 0;
			border: toRem(2) solid $yellow;
			border-radius: 50%;
			block-size: toRem(50);
			aspect-ratio: 1 / 1;
			transition: all 0.3s ease-in;
			span {
				inline-size: toRem(23);
				aspect-ratio: 1 / 1;
				position: absolute;
				inset-inline-start: 50%;
				inset-block-start: 50%;
				transform: translate(-50%, -50%);
				transition:
					transform 0.3s ease-in,
					background-color 0.3s ease-in;
				&:last-child {
					inline-size: toRem(20);
					transform: translate(-50%, -50%) scale(0);
				}
				.search-open & {
					&:first-child {
						transform: translate(-50%, -50%) scale(0);
					}
					&:last-child {
						transform: translate(-50%, -50%) scale(1);
					}
				}
			}
			@media (any-hover: hover) {
				&:hover {
					background-color: $yellow;
					.search-header__open-search,
					.search-header__open-search {
						background-color: #fff;
					}
				}
			}
			@media (max-width: toRem(479.98)) {
				block-size: toRem(40);
				span {
					&:first-child,
					&:last-child {
						inline-size: toRem(17);
						aspect-ratio: 1 / 1;
					}
				}
			}
		}
	}
	// .search-header__open-search
	&__open-search {
		mask-image: url("../../images/header/search.svg");
		mask-size: contain;
		mask-repeat: no-repeat;
		mask-position: center;
		background-color: $grey;
	}
	// .search-header__open-search
	&__open-close {
		mask-image: url("../../images/header/thin-cross.svg");
		mask-repeat: no-repeat;
		mask-size: contain;
		mask-position: center;
		background-color: $grey;
	}
}
.contacts-header {
	position: relative;
	@media (any-hover: hover) {
		&:focus-within {
			.current-contacts-header__phone-icon {
				animation-name: phone;
				animation-duration: 0.15s;
				animation-iteration-count: 4;
			}
		}
		&:hover {
			.current-contacts-header__phone-icon {
				animation-name: phone;
				animation-duration: 0.15s;
				animation-iteration-count: 4;
			}
		}
	}
	// .contacts-header__current
	&__current {
		position: relative;
		z-index: 4;
	}
	// .contacts-header__list
	&__list {
		position: absolute;
		inset-block-start: 100%;
		inset-inline-start: 0;
		z-index: 3;
		inline-size: 100%;
		padding-block-start: toRem(10);
		padding-inline-start: toRem(60);
		opacity: 0;
		visibility: hidden;
		transition:
			opacity 0.4s,
			visibility 0.4s;
		&::before {
			content: "";
			position: absolute;
			background: #fff;
			border-radius: toRem(8);
			inset-inline-start: toRem(-20);
			inset-block-start: toRem(-70);
			inline-size: calc(100% + toRem(40));
			block-size: calc(100% + toRem(90));
			box-shadow: 0 0 toRem(15) 0 rgba(0, 0, 0, 0.12);
		}
		.--active & {
			opacity: 1;
			visibility: visible;
		}
		@media (max-width: toRem(1159.98)) {
			padding-inline-start: toRem(0);
			&::before {
				inset-block-start: toRem(-60);
				block-size: calc(100% + toRem(75));
			}
		}
		@media (max-width: toRem(991.98)) {
			&::before {
				inline-size: calc(100% + toRem(25));
				inset-inline-start: toRem(-20);
			}
		}
		@media (max-width: toRem(699.98)) {
			min-width: toRem(200);
			inset-inline-start: auto;
			inset-inline-end: 0;
		}
	}
	// .contacts-header__item
	&__item {
		position: relative;
		z-index: 2;
		&:not(:last-child) {
			margin-block-end: toRem(10);
		}
	}
	// .contacts-header__callme
	&__callme {
		text-align: left;
		color: $yellow;
		font-size: toRem(19);
		font-weight: 600;
		line-height: 1.26;
		margin-inline-end: toRem(-33);

		text-decoration: underline transparent;
		text-underline-offset: toRem(3);
		transition: text-decoration 0.3s ease-out;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .contacts-header__link
	&__link {
		font-size: toRem(20);
		font-weight: 600;
		line-height: 1.4;

		text-decoration: underline transparent;
		text-underline-offset: toRem(3);
		transition: text-decoration 0.3s ease-out;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// open contacts menu by hover
	// @media (any-hover: hover) {
	// 	&:hover {
	// 		.contacts-header__list {
	// 			opacity: 1;
	// 			visibility: visible;
	// 		}
	// 		.current-contacts-header__arrow {
	// 			&::before {
	// 				transform: rotate(-180deg);
	// 			}
	// 		}
	// 	}
	// }
}
.current-contacts-header {
	display: flex;
	align-items: center;
	gap: toRem(10);
	// .current-contacts-header__phone-icon
	&__phone-icon {
		inline-size: toRem(50);
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		background-color: $light;
		display: flex;
		justify-content: center;
		align-items: center;
		will-change: transform;
		&::before {
			content: "";
			inline-size: toRem(24);
			aspect-ratio: 1 / 1;
			mask-image: url("../images/sprite.svg#phone");
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: $grey;
		}
		@media (max-width: toRem(1159.98)) {
			display: none;
		}
	}
	// .current-contacts-header__schedule
	&__schedule {
		display: block;
		color: $grey;
		font-size: toRem(13);
		font-weight: 300;
		line-height: 1.69;
		@media (max-width: toRem(699.98)) {
			display: none;
		}
	}
	// .current-contacts-header__phone
	&__phone {
		font-size: toRem(20);
		font-weight: 600;
		line-height: 1.4;
		position: relative;
		&::before {
			display: none;
			content: "";
			inline-size: toRem(50);
			aspect-ratio: 1 / 1;
			border-radius: 50%;
			background-color: $light;
		}
		&::after {
			display: none;
			content: "";
			position: absolute;
			inset-block-start: toRem(13);
			inset-inline-end: toRem(13);
			inline-size: toRem(24);
			aspect-ratio: 1 / 1;
			mask-image: url("../images/sprite.svg#phone");
			background-color: $grey;
		}
		text-decoration: underline transparent;
		text-underline-offset: toRem(3);
		transition: text-decoration 0.3s ease-out;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
		@media (max-width: toRem(699.98)) {
			font-size: 0;
			&::before,
			&::after {
				display: flex;
			}
		}
	}
	// .current-contacts-header__arrow
	&__arrow {
		inline-size: toRem(24);
		&::before {
			content: "";
			inline-size: toRem(12);
			aspect-ratio: 1 / 1;
			mask-image: url("../images/sprite.svg#arrow");
			mask-repeat: no-repeat;
			mask-position: center;
			background-color: $grey;
			transition: transform 0.3s ease-out;
		}
		.--active & {
			&::before {
				mask-image: url("../../images/header/thin-cross.svg");
				mask-repeat: no-repeat;
				mask-size: contain;
				inline-size: toRem(11);
				aspect-ratio: 1 / 1;
				transform: rotate(-180deg);
			}
		}
		@media (max-width: toRem(699.98)) {
			display: none;
		}
	}
}
.actions-body-header {
	display: flex;
	gap: toRem(20);
	// .actions-body-header__item
	&__item {
		border: toRem(2) solid $yellow;
		border-radius: 50%;
		block-size: toRem(50);
		aspect-ratio: 1 / 1;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease-in;
		&::before {
			content: "";
			block-size: toRem(24);
			aspect-ratio: 1 / 1;
			transition: background-color 0.3s ease-in;
		}
		// .actions-body-header__item--favourite
		&--favourite {
			&::before {
				mask: url("../images/sprite.svg#favorite");
				mask-repeat: no-repeat;
				mask-position: center;
				background-color: $grey;
			}
		}
		// .actions-body-header__item--cart
		&--cart {
			&::before {
				mask: url("../images/sprite.svg#cart");
				mask-repeat: no-repeat;
				mask-position: center;
				background-color: $grey;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: $yellow;
				&::before {
					background-color: #fff;
				}
			}
		}
		&:focus-within {
			background-color: $yellow;
			&::before {
				background-color: #fff;
			}
		}
		@media (max-width: toRem(479.98)) {
			block-size: toRem(40);
			&::before {
				inline-size: toRem(17);
				aspect-ratio: 1 / 1;
			}
		}
	}
	@media (max-width: toRem(1159.98)) {
		gap: toRem(10);
	}
	// .actions-body-header__cart
	&__cart {
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
		position: absolute;
		inset-block-start: calc(100% + toRem(17));
		inset-inline-end: 0;
		inline-size: 100%;
		padding: toRem(30);
		@media (max-width: toRem(1365.98)) and (min-width: toRem(991.98)) {
			inset-inline-end: toRem(10);
		}
		@media (min-width: toRem(992)) {
			max-width: toRem(520);
			border-radius: toRem(8);
		}
		@media (max-width: toRem(991.98)) {
			padding: toRem(15);
			inset-block-start: calc(100% + toRem(22));
		}
		@media (max-width: toRem(580)) {
			inset-block-start: calc(100% + toRem(15));
		}
		.cart-open & {
			opacity: 1;
			visibility: visible;
		}
	}
}
@keyframes phone {
	from {
		transform: rotate(-10deg);
	}
	to {
		transform: rotate(0deg);
	}
}
//========================================================================================================================================================
.bottom-header {
	background-color: #fff;
	border-top: toRem(2) solid $light;
	padding-block: toRem(18);
	transition: transform 0.3s;

	// @media (max-width: toRem(991.98)) {
	// 	position: relative;
	// 	z-index: 4;
	// }

	@media (max-width: toRem(579.98)) {
		padding-block: toRem(10);
	}
	// .bottom-header__container
	&__container {
		position: relative;
		@media (max-width: toRem(991.98)) {
			display: flex;
			align-items: center;
			gap: toRem(15);
		}
		@media (max-width: toRem(579.98)) {
			gap: toRem(10);
		}
	}
	// .bottom-header__menus
	&__menus {
		display: flex;
		@media (min-width: toRem(992)) {
			justify-content: space-between;
			align-items: center;
			gap: toRem(40);
		}
		@media (max-width: toRem(991.98)) {
			gap: toRem(25);
			flex-direction: column-reverse;
		}
	}
	// .bottom-header__list
	&__list {
		display: flex;
		column-gap: toRem(40);
		@media (max-width: toRem(1299.98)) {
			column-gap: toRem(20);
		}
		@media (min-width: toRem(992)) {
			align-items: center;
			flex-wrap: wrap;
			row-gap: toRem(5);
			&:last-child {
				justify-content: flex-end;
			}
		}
		@media (max-width: toRem(991.98)) {
			flex-direction: column;
			row-gap: toRem(15);
		}
	}
	// .bottom-header__link
	&__link {
		color: $grey;
		font-size: toRem(19);
		font-weight: 600;
		line-height: 1.26;
		display: flex;
		align-items: center;
		column-gap: toRem(10);
		transition: color 0.2s ease-out;
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
		// .bottom-header__link--promotion
		&--promotion {
			&::before {
				content: "";
				flex-shrink: 0;
				inline-size: toRem(20);
				aspect-ratio: 1 / 1;
				mask-repeat: no-repeat;
				mask-position: center;
				mask-image: url("../images/sprite.svg#star");
				background-color: $yellow;
			}
		}
		// .bottom-header__link--sale
		&--sale {
			&::before {
				content: "";
				flex-shrink: 0;
				inline-size: toRem(20);
				aspect-ratio: 1 / 1;
				mask-repeat: no-repeat;
				mask-position: center;
				mask-image: url("../images/sprite.svg#sale");
				background-color: $yellow;
			}
		}
		// .bottom-header__link--credit
		&--credit {
			&::before {
				content: "";
				flex-shrink: 0;
				inline-size: toRem(20);
				aspect-ratio: 1 / 1;
				mask-repeat: no-repeat;
				mask-position: center;
				mask-image: url("../images/sprite.svg#credit");
				background-color: $yellow;
			}
		}
		@media (max-width: toRem(1299.98)) {
			font-size: toRem(16);
			gap: toRem(5);
		}
		@media (max-width: toRem(991.98)) {
			font-size: toRem(24);
		}
	}
}
//========================================================================================================================================================
.cart-header {
	background-color: #fff;
	box-shadow: toRem(-3) toRem(4) toRem(15) toRem(0) rgba(0, 0, 0, 0.06);
	// .cart-header__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:not(:last-child) {
			margin-block-end: toRem(40);
		}
	}
	// .cart-header__title
	&__title {
		font-size: toRem(26);
		line-height: 1.3;
		font-weight: 600;
		display: flex;
		gap: toRem(10);
		align-items: center;
		span {
			color: $yellow;
		}
	}
	// .cart-header__close
	&__close {
		will-change: transform;
		transition: transform 0.5s;
		&::before {
			content: "";
			inline-size: toRem(16);
			aspect-ratio: 1 / 1;
			mask-image: url("../../images/header/thin-cross.svg");
			background-color: $dark;
			mask-size: toRem(16);
			mask-repeat: no-repeat;
			mask-position: center;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	// .cart-header__items
	&__items {
		overflow: auto;
		margin-right: toRem(-8);
		padding-right: toRem(8);
		block-size: calc(100vh - toRem(470));
		@media (max-width: toRem(991.98)) {
			padding: toRem(15);
			block-size: calc(100vh - toRem(415));
		}
		@media (max-width: toRem(699.98)) {
			block-size: calc(100vh - toRem(400));
		}
		@media (max-width: toRem(580)) {
			block-size: calc(100vh - toRem(385));
		}
	}
	// .cart-header__footer
	&__footer {
		display: grid;
		gap: toRem(10);
		padding-block-start: toRem(37);
	}
}