.show-hide-btn {
		// .show-hide-btn__text

		&__text {
            color: $yellow;
			font-size: toRem(19);
			font-weight: 600;
			line-height: 126.315789%;
			display: none;
			gap: toRem(18);
			transition: color 0.2s;

            &--show::after {
				transform: rotate(180deg);
			}

			&--active {
				display: flex;
				align-items: center;
			}
			&::after {
				content: "";
				inline-size: toRem(8);
				block-size: toRem(11);
				mask-image: url("../../../images/hide.svg");
				mask-size: toRem(8);
				mask-repeat: no-repeat;
				mask-position: center;
				background-color: $yellow;
				transition: background-color 0.3s;
			}
			@media (any-hover: hover) {
				&:hover {
					color: $dark;
					&::after {
						background-color: $dark;
					}
				}
			}
		}
}
