.advantages {
    padding: adaptiveValue(70, 60, 479.98) 0 toRem(40);
    background-color: #fff;

    // .advantages__title

    &__title {
        max-width: toRem(1070);
        @extend %expand-title;

        @media (max-width: toRem(479.98)) {
            text-align: left;
        }
    }

    // .advantages__content

    &__content {
        max-width: toRem(1070);

        &:not(:last-child) {
            margin-bottom: adaptiveValue(75, 60, 767.98);
        }

        @include expand-content(140);
    }

    // .advantages__text

    &__text {
        max-height: toRem(280);
        @extend %expand-text;
    }

    // .advantages__show-more

    &__show-more {
        @extend %expand-showmore-btn;
    }
}