.stock {
    padding-bottom: adaptiveValue(70, 60, 767.98);

    // .stock__slider

    &__slider {
        border-radius: toRem(8);
    }

    // .stock__slide-link

    &__slide-link {
        display: inline-block;
        border-radius: toRem(8);
        overflow: hidden;
        aspect-ratio: 410 / 280;

        @media (max-width: toRem(560)){
              width: 100%;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
        }

        @media (any-hover: hover){
            &:hover img {
                transform: scale(1.03);
            }
        }
    }

    @media (max-width: toRem(560)) {
        .slider-arrows {
            display: none;
        }
    }

    // .stock__slider-pagination

    &__slider-pagination {
        display: none;
        
        @media (max-width: toRem(560)){
            display: flex;
            margin-top: toRem(20);
        }
    }
}