.payment-methods {
	padding-block-end: adaptiveValue(70, 60, 767.98);
	// .payment-methods__title
	&__title {
		text-align: center;
	}
	// .payment-methods__items
	&__items {
		margin-block-start: toRem(40);
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
		justify-content: space-evenly;
		gap: toRem(30);
	}
	// .payment-methods__item
	&__item {
		flex-basis: toRem(300);
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
		gap: toRem(20);
	}
}
.item-payment-methods {
	// .item-payment-methods__icon
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		inline-size: toRem(100);
		aspect-ratio: 1;
		flex-shrink: 0;
		background-color: $yellow;
	}
	// .item-payment-methods__image
	&__image {
		max-width: 50%;
	}
	// .item-payment-methods__title
	&__title {
		font-size: toRem(26);
		font-weight: 600;
		line-height: 1.3;
	}
	// .item-payment-methods__text
	&__text {
		font-size: toRem(16);
		font-weight: 400;
		line-height: 1.87;
	}
}
