.payment-promo {
	// .payment-promo__container
	&__container {
		@media (max-width: toRem(767.98)) {
			margin-inline: toRem(-50);
			padding-inline: toRem(50);
		}
	}
	// .payment-promo__body
	&__body {
		border-radius: toRem(8);
		padding-inline: adaptiveValue(50, 25);
		padding-block: adaptiveValue(30, 20);
		background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: toRem(20);
		@media (max-width: toRem(767.98)) {
			flex-direction: column;
			// row-gap: toRem(20);
			background: #fff;
			border-radius: 0;
		}
		@media (max-width: toRem(579.98)) {
			text-align: center;
		}
	}
	// .payment-promo__content
	&__content {
		position: relative;
		color: $dark;
		@media (min-width: toRem(1024.98)) {
			flex-basis: toRem(450);
		}
		> *:not(:last-child) {
			margin-block-end: toRem(20);
		}
	}
	// .payment-promo__title
	&__title {
		&:not(:last-child) {
			margin-block-end: toRem(30);
		}
	}
	// .payment-promo__sub-title
	&__sub-title {
		font-size: adaptiveValue(26, 20);
		font-weight: 600;
		line-height: 1.3;
	}
	// .payment-promo__text
	&__text {
		font-size: adaptiveValue(20, 16);
		font-weight: 600;
		line-height: 1.4;
		@media (max-width: toRem(991.98)) {
			font-weight: 400;
		}
	}
	// .payment-promo__image
	&__image {
		img {
			max-width: 100%;
		}
	}
}
